@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.pixel-border {
  clip-path: polygon(
    10% 0%,
    90% 0%,
    90% 5%,
    95% 5%,
    95% 10%,
    100% 10%,
    100% 90%,
    95% 90%,
    95% 95%,
    90% 95%,
    90% 100%,
    10% 100%,
    10% 95%,
    5% 95%,
    5% 90%,
    0% 90%,
    0% 10%,
    5% 10%,
    5% 5%,
    10% 5%
  );
}
.pixel-border-selengkapnyas {
  clip-path: polygon(
    5% 0%,
    95% 0%,
    95% 15%,
    98% 15%,
    98% 25%,
    100% 25%,
    100% 75%,
    98% 75%,
    98% 95%,
    95% 95%,
    95% 100%,
    10% 100%
  );
}

.pixel-border-selengkapnya {
  clip-path: polygon(
    5% 0%,
    95% 0%,
    95% 15%,
    98% 15%,
    98% 25%,
    100% 25%,
    100% 75%,
    98% 75%,
    98% 90%,
    95% 90%,
    95% 100%,
    10% 100%,
    5% 100%,
    5% 90%,
    2% 90%,
    2% 75%,
    0% 75%,
    0% 25%,
    2% 25%,
    2% 15%,
    5% 15%,
    5% 0%
  );
}

.detailed-pixel-border {
  clip-path: polygon(
    10% 0%,
    90% 0%,
    90% 3%,
    93% 3%,
    93% 5%,
    95% 5%,
    95% 7%,
    97% 7%,
    97% 10%,
    100% 10%,
    100% 90%,
    97% 90%,
    97% 93%,
    95% 93%,
    95% 95%,
    93% 95%,
    93% 97%,
    90% 97%,
    90% 100%,
    10% 100%,
    10% 97%,
    7% 97%,
    7% 95%,
    5% 95%,
    5% 93%,
    3% 93%,
    3% 90%,
    0% 90%,
    0% 10%,

    3% 10%,
    3% 7%,
    5% 7%,
    5% 5%,
    7% 5%,
    7% 3%,
    10% 3%
  );
}
